.metube {
    width: 200px;
    position: relative;
    left: 20px;
    top: 0px;
}

.input {
    position: fixed;
    left: 300px;
    top: 65px;
    width: 200px;
    height: 30px;
}

.navigate-bar {
    position: fixed;
    right: 60px;
    top: 30px;
    z-index: 999999;
}

.social-icon {
    position: relative;
    top: 45px;
    right: 130px;
}

.menu {
    position: relative;
}

.facebook-icon {
    width: 20px;
}

.video-button, .search-button, .user-button, .contact-button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-family: "Avenir";
    font-size: 1em;
    outline: none;
    border: none;  
}

.video-button {
    position: relative;
    right: 20px;
    background-color: #fed94e;
}

.search-button {
    /* position: fixed;
    right: 290px;
    top: 80px; */
    position: relative;
    right: 15px;
    background-color: #ffffff;
}

.user-button {
    position: relative;
    right: 10px;
    background-color: #ffffff;
}

.contact-button {
    float:right;
    background-color: #ffffff;
}

.title {
    position: relative;
    top: 0px;
    left: 50px;
    height: 100px;
    font-size: 4em;
    color: white;
}

html { 
    margin:0; 
    padding:0; 
    background-color: #222129;
}

* {box-sizing: border-box;}

.gallery {
    position: relative;
    top: 0px;
    left: 50px;
}

.video-row {
    height: 300px;
}

.video-col {
	float: left;
    /* width: 200px; */
    left: 200px;
	height: 300px;
	background-color: #dda0d7;
	/* border: 5px solid #fff; */
}

.des-row {

}

.des-col {
    /* clear: both; */
    float: left;
    font-family: 'Avenir';
    color: white;
}