/* body {
    background-color: #24263E;
}

p {
    color: white;
} */

* {  
    box-sizing: border-box;  
}  
body {  
    margin: 0;  
    padding: 0;  
    /* background: #292831;   */
    background: #222129;  
    font-weight: 500;  
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;  
}  
#container {  
    width: 500px;  
    height: 820px;  
    margin: 0 auto;  
}  
div.search {padding: 200px 0;}  
form {  
    position: relative;  
    width: 300px;  
    margin: 0 auto;  
}  
input, button {  
    border: none;  
    outline: none;  
}  
input {  
    width: 100%;  
    height: 42px;  
    padding-left: 13px;  
    padding-right:46px;  
}  
button {  
    height: 42px;  
    width: 42px;  
    cursor: pointer;  
    position: absolute;  
}  
/*搜索框4*/  
.bar4 {background: #fed94d;}  
.bar4 form {  
    background: #F9F0DA;
    border-bottom: 2px solid #e7a1e1;  
}  
.bar4 input, .bar4 button {  
    background: transparent;  
}  
.bar4 button {  
    top: 0;  
    right: 0;  
}  
.bar4 button:before {  
    content: "\f178";  
    font-family: FontAwesome;  
    font-size: 20px;  
    color: #e7a1e1;  
}  

.up {
    width: 40%;
    float:left;
    /* height: 100px; */
    background-color: #222129;
    text-align: center;
    /* position: relative; */
    /* border: 1px solid #3B6273; */
}
.down {
    width: 60%;
    float:left;
    height: 4000px;
    background-color: #fed94d;
    /* border: 1px solid #3B6273; */
}

#icon {
    position: relative;
    top:180px;
}